.venv
*__pycache__
*.pyc
*.pyo
*.pyd
*__pycache__/*

*.DS_Store

/jmeter*
test-report**

/k8sCopy*

# Coverage
.coverage
coverage.xml

# Mypy cache
.mypy_cache/

# Ruff cache
.ruff_cache/

# Pytest cache
.pytest_cache/

# Env files
.env
